<form  method="post">
    <div>
        <dl class="row col-8">
            <dt class="col-6">
                <p>Nom:</p>
            </dt>
            <dd class="col-6">
                <input type="text" name="name" placeholder="Nom" class="form-control">
            </dd>
            <dt class="col-6">
                <p>Prénom:</p>
            </dt>
            <dd class="col-6">
                <input type="text" name="name" placeholder="Prenom" class="form-control">
            </dd>
            <dt class="col-6">
                <p>Email:</p>
            </dt>
            <dd class="col-6">
                <input type="email" name="name" placeholder="Email" class="form-control">
            </dd>
            <dt class="col-6">
                <p>Tél:</p>
            </dt>
            <dd class="col-6">
                <input type="tel" name="name" placeholder="Telephone" class="form-control">
            </dd>
            <div class="row col-8">
                <div class="col-4">
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
                <div class="col-4">
                    <input type="reset" value="Reset"  class="btn btn-danger">
                </div>
                <div class="col-4">
                    <input type="submit" value="Exit"  class="btn btn-danger">
                </div>
            </div>
        </dl>
    </div>
</form>
